---
import { Image } from "astro:assets";
import type { Place } from "../generated/prisma/client";
import Star from "./Star.astro";

interface Props {
  place: Place;
}

const { place } = Astro.props;
const imageUrl = `/assets/images/${place.image}`;
---

<a href={`/places/${place.id}`} class="place-card" id={`place-card-${place.id}`}>
  <div class="place-card-image">
    <Image
      src={imageUrl}
      alt={place.title}
      width={600}
      height={450}
    />
  </div>
  <div class="place-card-body">
    <h3 class="place-card-title">{place.title}</h3>
    <div class="place-card-rating">
      <div class="place-card-stars">
        {Array.from({ length: Number(place.avg_rating) }).map(() => <Star />)}
      </div>
      <span class="rating-badge">{place.avg_rating}</span>
    </div>
  </div>
</a>
